<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <html>
    <head>
      <title>FaceTripper : Fun Effects That Follow Your Face!</title>
      <meta name="google-site-verification" content="DQwN4JCoHnUmDB-E24XzJ-vvaCgW8SDWfxVU1MqefCc" />

      <link rel="shortcut icon" href="/favicon.ico" />   

      <link href='http://fonts.googleapis.com/css?family=Droid+Serif&subset=latin' rel='stylesheet' type='text/css'>    

      <!-- Framework CSS -->
      <link rel="stylesheet" href="css/blueprint/screen.css" type="text/css" media="screen, projection"/>
      <link rel="stylesheet" href="css/blueprint/print.css" type="text/css" media="print"/>
      <!--[if lt IE 8]><link rel="stylesheet" href="/css/blueprint/ie.css" type="text/css" media="screen, projection"/><![endif]-->

      <link rel="stylesheet" href="css/nivo-slider.css" type="text/css" media="screen, projection"/>

      <link rel="stylesheet" href="css/application.css" type="text/css" media="screen, projection"/>
      <script src="js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
      <script src="js/jquery.nivo.slider.pack.js" type="text/javascript" charset="utf-8"></script>
      <script src="js/application.js" type="text/javascript" charset="utf-8"></script>

      <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-19937033-1']);
        _gaq.push(['_trackPageview']);

        (function() {
         var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
         ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
         var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
         })();

       </script>

       <script type="text/javascript">
         function recordOutboundLink(link, category, action) {
           _gat._getTrackerByName()._trackEvent(category, action);
           setTimeout('document.location = "' + link.href + '"', 100);
         }
       </script>
     </head>
     <body>   
       <div id="header">
         <div id="navigation">
           <a href="http://facetripper.com" id="logo" alt="FaceTripper - Fun Effects That Follow Your Face"><img src="imgs/logo.png"/></a>
           <ul id="nav-links">
             <li><a href="http://facetripper.com" alt="home">home</a></li>
             <li><a href="http://facetripper.com/contact.html" alt="contact">contact</a></li>
             <li><a href="http://itunes.apple.com/us/app/facetripper/id411594180?mt=12&ls=1" onClick="recordOutboundLink(this, 'Outbound Links', 'app store top');return false;">app store</a></li>                    
           </ul>                
         </div>
       </div>
       <div class="container">    
         {{ content }}
       </div>
       <div id="footer">
         <div class="footer-container">
           <a href="http://valornaut.com"><img src="imgs/valornaut-logo-small.png" id="company-logo-footer"/></a>
         </div>
       </div>
     </div>    
   </body>
 </html>



